@font-face {
    font-family: 'Gunplay';
    src: url('https://37406915-471836402253847146.preview.editmysite.com/uploads/b/139890129-165727670653336700/files/fonts/gunplay.ttf') format('truetype');
    font-weight: 400;
}
